.sendForm {
    display: flex;
    margin: 80px 0 0 100px;
}

.textarea {
    Width: 1820px;
    min-height: 50px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    font-size: 18px;
    padding: 13px 0 10px 30px;
    margin-bottom: 100px;
}

.textarea::placeholder {
    /*padding: 7px 0 5px 18px;*/
}

textarea::-webkit-input-placeholder {
    color: #00000099;
}


.button {
    margin-left: 20px;
    width: 110px;
    height: 40px;
    border: 3px solid #0059b3;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1939d2;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 8px;
}

.button:hover {
    background-color: #0059b3;
    color: #f4f6fa;
}

.button:active {

}
